# Database configuration
DB_NAME=gmt_reborn_db
DB_USER=adung
DB_PASSWORD=1312
DB_HOST=localhost
DB_PORT=5432  # Ganti sesuai port lokal (5432 atau 5433)

# Django settings
DEBUG=True
SECRET_KEY=your-secret-key-here
