{% extends 'base_authenticated.html' %}
{% load static %}

{% block title %}Administration - GMT Reborn{% endblock %}

{% block content %}
<!-- Tabs Navigation -->
<div class="tabs tabs-boxed bg-base-200 p-1 mb-6 overflow-x-auto flex-nowrap">
    <a href="{% url 'sysadmin_users' %}" class="tab tab-lg">User Management</a>
    <a href="{% url 'sysadmin_company' %}" class="tab tab-lg {% if active_tab == 'company' %}tab-active{% endif %}">
        <i class="fa-solid fa-building mr-2"></i> Company
    </a>
    <a href="?tab=modules" class="tab tab-lg {% if active_tab == 'modules' %}tab-active{% endif %}">
        <i class="fa-solid fa-puzzle-piece mr-2"></i> Modules
    </a>
    <a href="?tab=system" class="tab tab-lg {% if active_tab == 'system' %}tab-active{% endif %}">
        <i class="fa-solid fa-server mr-2"></i> System
    </a>
    <a href="?tab=audit" class="tab tab-lg {% if active_tab == 'audit' %}tab-active{% endif %}">
        <i class="fa-solid fa-shield-halved mr-2"></i> Audit
    </a>
</div>

<!-- Tab Content -->
{% if active_tab == 'users' %}
    {% include 'admin/users.html' %}
{% elif active_tab == 'company' %}
    {% include 'admin/company.html' %}
{% elif active_tab == 'modules' %}
    {% include 'admin/modules.html' %}
{% elif active_tab == 'system' %}
    {% include 'admin/system.html' %}
{% elif active_tab == 'audit' %}
    {% include 'admin/audit.html' %}
{% endif %}
{% endblock %}